@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 550px;
}

body {
    background-color: hsl(218, 44%, 90%);
    font-family: Outfit;
}

.form-control {
    text-align: center;
    background-color: white;
    max-width: 200px;
    margin-top: 100px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
}

.qr_icn {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.main_content h3 {
    width: 200px;
    font-size: 16px;
    padding: 20px 0px 5px 0px;
}

.main_content p {
    width: 200px;
    font-size: 11px;
    font-weight: 550;
    line-height: 18px;
    padding: 5px 0px 5px 0px;
    opacity: 0.3;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}
