

* {
    padding: 0px;
    margin: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 550px;
}

body {
    background-color: hsl(218, 44%, 90%);
    font-family: Outfit;
}

.form-control {
    text-align: center;
    background-color: white;
    width: 300px;
    margin-top: 100px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
}

.qr_icn {
    border-radius: 24px;
    width: 100%;
    height: auto;
}

.main_content h3 {
    width: 250px;
    font-size: 20px;
    padding: 20px 0px 16px 0px;
}

.main_content p{
    font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  padding: 0px 20px 0px 20px;
    opacity: 0.3;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}